{% extends "main/base.html" %}
{% block title %}edit_quest.html{% endblock %}
{% block head %}Edit question{% endblock %}
{% block content %}
<div class="span10">
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <form method="POST" action=".">{% csrf_token %}
        {{ form.question.label }}
        {{ form.question }}
        <table>
			<tbody>
			{% for choice in form.choices.field.choices %}
                <tr>
                    <td>
						<label>{{choice.1}}</label><span style="margin-left:20px"></span>
					</td>
					<td>
						<input type="radio" name="choices" value="{{choice.0}}" {% ifequal form.choices.data choice.0 %} checked="checked" {% endifequal %}/>
					</td>
                    <td>
						<span style="margin-left:20px">{% cycle form.answer_0 form.answer_1 form.answer_2 form.answer_3 %}</span>
					</td>
                </tr>
            {% endfor %}
			<tbody>
        </table>
        {{ form.hidden_id }}
        {{ form.hidden_quiz_id }}
        <input type="submit" value="Save" class="btn btn-success"/>
        <input type="button" value="Cancel" onclick="history.go(-1)" class="submit btn btn-danger"/>
</div>
{% endblock %}