{% extends 'main/base.html' %}
{% block title %}About us | Quizzes - Group01{% endblock %}
{% block content %}
    <div class="span5 well">
        <p><strong>Mentor:</strong></p>
        <ul>
            Dr. Truong Anh Hoang
        </ul>
        <p><strong>Member:</strong></p>
        <ul>
            Chu Viet Anh<br>
            Nguyen Tuan Anh<br>
            Do Quoc Anh<br>
            Ho Sy Viet Anh<br>
            Nguyen Van Chinh<br>
        </ul>
        <p><strong>More about the project:</strong> It is the project in subject Software Engineering in University of Engineering and Technology, the result will cost 40% in the total grade point. The project lasts from week 2 to week 15 of second semester of year 2012.</p>
    </div>
{% endblock %}